name: laravel-mvc

services:
    app:
        # O build especifíca o caminho para o Dockerfile a ser utilizado, como o mesmo está na raiz é usado o `.`
        container_name: $COMPOSE_PROJECT_NAME-dev-php-fpm
        build:
            context: .
            dockerfile: .docker/Dockerfile
            args:
                PHP_VERSION: "8.3.20-fpm-alpine3.20"
                PROJECT_NAME: "${COMPOSE_PROJECT_NAME}"
                # Obtém automaticamente o nome do projeto a partir da variável padrão linux
                USER_NAME: "${USER}"
        depends_on:
            database:
                condition: service_healthy
        ports:
            - 8086:80
        volumes:
            - ./:/var/www/${COMPOSE_PROJECT_NAME}
        networks:
            - app_network

    nginx:
        image: nginx:alpine
        container_name: $COMPOSE_PROJECT_NAME-dev-nginx
        ports:
            - 8080:80
        volumes:
            - ./:/var/www/${COMPOSE_PROJECT_NAME}
        depends_on:
            - app
        networks:
            - app_network

    database:
        image: mysql:oraclelinux9
        container_name: $COMPOSE_PROJECT_NAME-dev-mysql
        restart: always
        # Iniciando com usuário root para garantir permissões corretas
        user: root
        environment:
            MYSQL_USER: ${USER}
            MYSQL_PASSWORD: root
            MYSQL_DATABASE: ${COMPOSE_PROJECT_NAME}
            MYSQL_ROOT_PASSWORD: root
        healthcheck:
            test: mysqladmin ping
            interval: 1s
            timeout: 5s
            retries: 10
        ports:
            - 5440:3306
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - app_network

volumes:
    mysql_data:
        name: ${COMPOSE_PROJECT_NAME}-mysql-data
        driver: local

networks:
    app_network:
        driver: bridge
        name: ${COMPOSE_PROJECT_NAME}-network
